kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
containerdConfigPatches: 
- |-
  [plugins."io.containerd.grpc.v1.cri".registry.mirrors."localhost:5000"]
    endpoint = ["http://172.17.0.2:5000"]
kubeadmConfigPatches:
- |-
  kind: ClusterConfiguration
  apiServer:
    extraArgs::
      "audit-policy-file": "/home/pcarlton/src/github.com/paulcarlton-ww/dev-stuff/info/auditpolicy.yaml"
      "feature-gates": "DynamicAuditing=true"
nodes:
- role: control-plane
- role: control-plane
- role: worker
- role: worker
